body {
  background-image: url("./images/gca_opaque.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
}
#footer {
  font-size: 15px;
  text-align: center;
  height: 30px;
}
#page {
  height: calc(100vh - 30px);
}

.leftPhoto {
  float: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0;
  padding-right: 0px;
  width: 100px;
  height: 100px;
}
.line{
  padding-top: 25%;
  position: absolute;
}

.heading{
  height: 20%;
}
.rightPhoto {
  float: right;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0;
  padding-right: 0px;
  width: 120px;
  height: 100px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  display: block;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lds-dual-ring {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #446cb0 transparent #15b48c transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  -webkit-animation-delay: 2.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 2.5s;
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Collapsible {
  width: 33vw;
  background-color: rgb(71, 120, 194);
  text-align: left;
}
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid lightGrey;
  border-top: 0;

  p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

  &:last-child {
      margin-bottom: 0;
    }
  }
}
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: rgb(35, 150, 245);
  color: white;


  &:after {
    font-family: 'FontAwesome';
    content: '▶';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 200ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}
.p_mp{
  width: 66%;
  text-align: center;
}

